*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(0, 0%, 95%);
}
.container{
    display: flex;
    justify-content: center;
}
.affordable-car{
    background-color: hsl(31, 77%, 52%);
    width: 300px;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.off-road-car{
    background-color: hsl(184, 100%, 22%);
    width: 300px;
    height: 500px;
}
.luxury-car{
    background-color: hsl(179, 100%, 13%);
    width: 300px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
img{
    margin-top: 50px;
    margin-left: 50px;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
    margin-left: 50px;
    font-size: 2.5rem;
    margin-top: 30px;
    color: hsl(0, 0%, 95%);
}
p{
    margin-left: 50px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 30px;
    font-size: .9rem;
    margin-right: 50px;
    color: hsla(0, 0%, 100%, 0.75);
}
.btn, .butn, .btun{
    margin-left: 50px;
    width: 150px;
    height: 50px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 30px;
    margin-top: 90px;
    cursor: pointer;
}
.btn{
    color: hsl(31, 77%, 52%);
    font-size: .9rem;
}
.butn{
    color: hsl(184, 100%, 22%);
    font-size: .9rem;
}
.btun{
    color: hsl(179, 100%, 13%);
    font-size: .9rem;
}
.btn:hover, .butn:hover, .btun:hover{
    background: none;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@media(max-width: 555px){
    .container{
        display: block;
    }
    .affordable-car{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        margin-top: 50px;
    }
    .luxury-car{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        margin-bottom: 50px;
    }
}